.main-header {
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin: 0;
}

.main-header img {
  max-width: 90px;
}
