body {
  background-color: #ebecf1;
  font-family: 'Montserrat', 'Arial', 'Helvetica';
  margin: 0;
}

.active-arrow {
  transform: rotate(90deg);
  transition: 0.5s;
}

.inactive-arrow {
  transition: 0.25s;
}
